:root {
  --main-color: #FFB6C1;
  --secondary-color: #05052b;
  --background-color: #c0acac;
}

*,
*::before,
*::after {
  box-sizing: border-box; /* Ensure proper box sizing */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  display: flex; /* Flexbox layout for Drawer and main content */
}

.Drawer {
  width: 250px; /* Fixed width for Drawer */
}

.main-content {
  flex: 1; /* Allow main content to take remaining space */
  margin-left: 0; /* No need for margin-left here */
  overflow: hidden; /* Prevent overflow */
}

.Home {
  max-width: calc(100% - 250px); /* Ensure it does not exceed viewport width */
  overflow: hidden; /* Prevent overflow */
}

.content {
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Align items in a column */
  align-items: center;
  justify-content: center; /* Center items horizontally */
  width: 100%;
  height: auto;
  margin: 0 auto; /* Center the content */
  padding: 40px; /* Adjust padding as needed */
  overflow: auto; /* Allow scrolling if content overflows */
}

.active {
  background-color: var(--main-color);
}

.links:hover {
  background-color: var(--background-color);
  color: var(--main-color);
}

.links {
  color: white;
}
h3{
color:#FFB6C1
}