:root {
  --main-color: #FFB6C1;
  --secondary-color: #212121;
  --background-color: #0e0e0e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  display: flex;
}
.error-message {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  border: 1px solid #f5c6cb; /* Border matching the light red */
  border-radius: 8px;
  padding: 16px;
  margin: 20px 0;
  text-align: center;
}

.success-message {
  background-color: #d4edda; /* Light green background */
  color: #155724; /* Dark green text */
  border: 1px solid #c3e6cb; /* Border matching the light green */
  border-radius: 8px;
  padding: 16px;
  margin: 20px 0;
  text-align: center;
}


.Drawer {
  width: 250px;
  height: 100vh;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.drawer-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--main-color);
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  right: -48px;
  top: 0;
}

.Drawer nav {
  padding: 2rem 1rem;
}

.Drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Drawer li {
  margin-bottom: 1rem;
}

.links {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

.links:hover {
  background-color: var(--background-color);
  color: var(--main-color);
}

.links span {
  margin-left: 0.5rem;
}

.active {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 1rem;
  transition: margin-left 0.3s ease-in-out;
}

.Home {
  max-width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
}

h3 {
  color: var(--main-color);
}

@media (max-width: 768px) {
  .Drawer {
    transform: translateX(-100%);
  }

  .Drawer.open {
    transform: translateX(0);
  }

  .drawer-toggle {
    display: block;
  }

  .main-content {
    margin-left: 0;
  }

  .main-content.drawer-open {
    margin-left: 250px;
  }
}